asttokens==2.4.1
backcall==0.2.0
blinker==1.8.2
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.2
debugpy==1.8.2
decorator==5.1.1
docutils==0.20.1
-e git+https://github.com/milanXpetrovic/my_module.git@09653c25f2cba884d15fdeaae0741118065fd691#egg=drosophila_social_network_analysis
executing==2.0.1
Flask==3.0.3
idna==3.7
importlib_metadata==8.0.0
ipykernel==6.29.5
ipython==8.12.3
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jupyter_client==8.6.2
jupyter_core==5.7.2
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
networkx==3.1
numpy==1.24.4
packaging==24.1
pandas==2.0.3
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
platformdirs==4.2.2
prompt_toolkit==3.0.47
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.18.0
python-dateutil==2.9.0.post0
python-louvain==0.16
pytz==2024.1
pyzmq==26.0.3
requests==2.32.3
scipy==1.10.1
six==1.16.0
stack-data==0.6.3
toml==0.10.2
tornado==6.4.1
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
wcwidth==0.2.13
Werkzeug==3.0.3
zipp==3.19.2
